.wrapper{
    height: 10%;
    box-shadow: 0px 1px 1px rgb(0, 0, 0 / 0.15);
    box-sizing: 0px;
    display: flex; //can giua
    background-color:#120741cc;
    font-size:  1.8rem;
    text-align: center;
    color: red;
}
