.wrapper{
    height: 100%;
    width: 92%;
    margin-top: 0%;
    margin-bottom: 0px;
    margin-left: 8%;
}
.inner {
    width: 100%;
    text-align: center;
    height: 100%
}
.cesium-viewer-bottom {
    display: none;
}
